ul { 
  width: 400px;
}

li {
  list-style-type: none;  
  border-style: solid;
  border-color: gray;
  border-width: 1px; 
  padding: 10px 10px 10px 10px;
}

.Show { 
  display: inline;
}

.Hide { 
  display: none;
}

#fullName {  
  display: flex;
  flex-direction: row;   
  justify-content: space-between; 
 
}
      
.detail {
  background-color: lightsteelblue;
}

.btn {
  width: 70px;  
}
 
